<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"content="width=device-width, initial-scale=1">
    <title>菜单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="padding:8px;">

<form action="" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
</form>

<div class="container mt-3" th:each="food : ${page.list}">

    <div class="media border p-3">
        <div class="media-body">
        <div>
            <h3 th:text="${food.foodName}"></h3>
            <img width="60" height="60" th:src="@{/pics/food.jpg}"/>
        </div>

            <p th:text="${food.foodDescription}"></p>
            <p th:text="${food.foodPrice}+'元/份'"></p>

        </div>

    </div><hr>
</div>

</body>
</html>